# ======= CONFIGURAÇÕES DO DOCKER =======
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=
VOLUME_PATH=



# ======= CONFIGURAÇÕES DA APP =======
SECRET_KEY=
DATABASE_URL=
TEST_DATABASE_URL=
